{{!-- Activation Cost --}}
<div class="form-group input-select">
  <label>{{localize "PF1.ActivationCost"}}</label>
  <div class="form-fields">
    <input type="text" name="{{#unless unchainedActionEconomy}}data.activation.cost{{else}}data.unchainedAction.activation.cost{{/unless}}"
      value="{{#unless unchainedActionEconomy}}{{data.activation.cost}}{{else}}{{data.unchainedAction.activation.cost}}{{/unless}}" data-dtype="Number" placeholder=""/>
    {{#unless unchainedActionEconomy}}
    <select name="data.activation.type">
      {{#select data.activation.type}}
      <option value=""></option>
      {{#each config.abilityActivationTypes as |name key|}}
      <option value="{{key}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{else}}
    <select name="data.unchainedAction.activation.type">
      {{#select data.unchainedAction.activation.type}}
      <option value=""></option>
      {{#each config.abilityActivationTypes_unchained as |name key|}}
      <option value="{{key}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/unless}}
  </div>
</div>
{{#if hasActivationType}}


{{!-- Ability Target --}}
<div class="form-group input-select-select">
  <label>{{localize "PF1.Target"}}</label>
  <div class="form-fields">
    <input type="text" name="data.target.value" value="{{data.target.value}}"/>
  </div>
</div>

{{!-- Ability Range --}}
<div class="form-group input-select">
  <label>{{localize "PF1.Range"}}</label>
  <div class="form-fields">
    {{#if canInputRange}}<input class="{{#unless isSpell}}formula{{/unless}}" type="text" name="data.range.value" value="{{data.range.value}}" placeholder="{{#unless isSpell}}{{localize "PF1.Formula"}}{{/unless}}"/>{{/if}}
    <select name="data.range.units">
      {{#select data.range.units}}
      <option value=""></option>
      {{#each distanceUnits as |name key|}}
      <option value="{{key}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>

{{#if data.range.units}}
{{!-- Minimum Range --}}
<div class="form-group input-select">
  <label>{{localize "PF1.MinRange"}}</label>
  <div class="form-fields">
    {{#if canInputMinRange}}<input class="{{#unless isSpell}}formula{{/unless}}" type="text" name="data.range.minValue" value="{{data.range.minValue}}" placeholder="{{#unless isSpell}}{{localize "PF1.Formula"}}{{/unless}}"/>{{/if}}
    <select name="data.range.minUnits">
      {{#select data.range.minUnits}}
      <option value=""></option>
      {{#each distanceUnits as |name key|}}
      <option value="{{key}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>
{{/if}}

{{!-- Range Increments --}}
{{#if showMaxRangeIncrements}}
<div class="form-group input-select-select">
  <label>{{localize "PF1.MaximumRangeIncrements"}}</label>
  <div class="form-fields">
    <input type="text" name="data.range.maxIncrements" value="{{data.range.maxIncrements}}"/>
  </div>
</div>
{{/if}}

{{!-- Area --}}
<div class="form-group input-select-select">
  <label>{{localize "PF1.Area"}}</label>
  <div class="form-fields">
    <input type="text" name="data.spellArea" value="{{data.spellArea}}"/>
  </div>
</div>

{{!-- Effect Duration --}}
<div class="form-group input-select">
  <label>{{localize "PF1.Duration"}}</label>
  <div class="form-fields">
    {{#if isSpell}}
    <input type="text" name="data.spellDuration" value="{{data.spellDuration}}" placeholder="{{localize "PF1.SpellDurationExample"}}"/>
    {{else}}
    {{#if canInputDuration}}<input class="formula" type="text" name="data.duration.value" value="{{data.duration.value}}" placeholder="{{localize "PF1.Formula"}}"/>{{/if}}
    <select name="data.duration.units">
      {{#select data.duration.units}}
      <option value=""></option>
      {{#each config.timePeriods as |name key|}}
      <option value="{{key}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/if}}
  </div>
</div>

{{!-- Limited Uses --}}
{{#unless isSpell}}
<div class="form-group uses-per">
  <label>{{localize "PF1.LimitedUses"}}</label>
  <div class="form-fields">
    {{#if isCharged}}
    <input type="text" name="data.uses.value" value="{{data.uses.value}}" data-dtype="Number"/>
    <span class="sep"> / </span>
    <input type="text" value="{{data.uses.max}}" disabled data-dtype="Number"/>
    {{/if}}
    <select name="data.uses.per">
      {{#select data.uses.per}}
      <option value=""></option>
      {{#each config.limitedUsePeriods as |name key|}}
      <option value="{{key}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>
{{#if isCharged}}
<div class="form-group uses-per">
  <input class="formula" type="text" name="data.uses.maxFormula" value="{{data.uses.maxFormula}}" placeholder="{{localize "PF1.MaximumUsesFormula"}}"/>
</div>
{{/if}}

<div class="form-group stacked">
  <label>{{localize "PF1.AutoDeductCharges"}}</label>
  <div class="flexrow">
    <input type="checkbox" name="data.uses.autoDeductCharges" {{checked data.uses.autoDeductCharges}}/>
    {{#if data.uses.autoDeductCharges}}<input type="text" name="data.uses.autoDeductChargesCost" placeholder="{{localize "PF1.DeductChargeFormulaPlaceholder"}}"
      value="{{data.uses.autoDeductChargesCost}}" />{{/if}}
  </div>
</div>
{{/unless}}
{{/if}}
