<div class="pf1 chat-card weapon-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">{{{data.description.value}}}</div>

    <footer class="card-footer">
      {{#if data.properties.length}}
        <div class="flexcol property-group gm-sensitive general-notes">
          <label>{{localize "PF1.Tags"}}</label>
          <div class="flexrow">
            {{#each data.properties}}
              <span class="tag">{{{this}}}</span>
            {{/each}}
          </div>
        </div>
      {{/if}}
    </footer>
</div>
