<span class="tooltipcontent">
  @attributes.cmb.total : {{data.attributes.cmb.total}}<br/>
  + @attributes.attack.shared : {{data.attributes.attack.shared}}<br/>
  + @attributes.attack.general : {{data.attributes.attack.general}}<br/>
  + @abilities.{{data.attributes.cmbAbility}}.mod : {{abilityMod @root.data.attributes.cmbAbility @root.rollData 1}}<br/>
  <br/>{{localize "PF1.FromSources"}}:<br/>
  {{#if (ne @root.data.traits.size "med")}}{{localize "PF1.Size"}} : {{lookup @root.config.sizeSpecialMods @root.data.traits.size }}<br/>{{/if}}
  {{#if sourceDetails.data.attributes.attack.shared.length}}
  {{#each sourceDetails.data.attributes.attack.shared as |src|}}{{src.name}} : {{src.value}}<br/>{{/each}}
  {{/if}}
  {{lookup @root.config.abilities data.attributes.cmbAbility}} : {{abilityMod data.attributes.cmbAbility @root.rollData 1}}<br/>
  {{#if sourceDetails.data.attributes.attack.general.length}}
  {{#each sourceDetails.data.attributes.attack.general as |src|}}{{src.name}} : {{src.value}}<br/>{{/each}}
  {{/if}}
  {{#if sourceDetails.data.attributes.cmb.total.length}}
  {{#each sourceDetails.data.attributes.cmb.total as |src|}}{{src.name}} : {{src.value}}<br/>{{/each}}
  {{/if}}
</span>

{{numberFormat cmbAttack decimals=0 sign=true}}
