<div class="flexrow summary-header">
  <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

  <div class="flexcol">
    <div class="flexrow name-xp">
      <div>
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}" title="{{localize "PF1.CharacterName"}}"/>
        </h1>
      </div>

      {{#if isCharacter}}
      <div class="hd-level character tooltip">
        <span class="tooltipcontent">
          @attributes.hd.total : {{data.attributes.hd.total}}
          {{#if data.details.mythicTier}}
          <br />
          @details.mythicTier : {{data.details.mythicTier}}
          {{/if}}
        </span>

        <table>
          <thead>
            <tr>
              <th class="level">{{localize "PF1.Level"}}</th>
              {{#if data.details.mythicTier}}
              <th class="tier">{{localize "PF1.Tier"}}</th>
              {{/if}}
              {{#unless disableExperience}}
              <th class="experience">{{localize "PF1.Experience"}}</th>
              {{/unless}}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="level">
                {{data.details.level.value}}
              </td>
              {{#if data.details.mythicTier}}
              <td class="tier">
                {{data.details.mythicTier}}
              </td>
              {{/if}}
              {{#unless disableExperience}}
              <td class="experience">
                <div class="flexrow">
                  <span class="text-box direct" name="data.details.xp.value" data-dtype="String">{{data.details.xp.value}}</span>
                  <span class="separator"> / </span>
                  <span class="text-box max readonly">{{data.details.xp.max}}</span>
                </div>
              </td>
              {{/unless}}
            </tr>
          </tbody>
        </table>

        {{#unless disableExperience}}
        <div class="xpbar">
          {{#if data.details.xp.pct}}
          <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
          {{/if}}
        </div>
        {{/unless}}
      </div>
      {{else}}
      <div class="hd-level npc tooltip flexrow">
        <table>
          <thead>
            <tr>
              <th class="level">{{localize "PF1.HitDieShort"}}</th>
              {{#if data.details.mythicTier}}
              <th class="tier">{{localize "PF1.Tier"}}</th>
              {{/if}}
              <th>{{localize "PF1.ChallengeRatingShort"}}</th>
              <th>{{localize "PF1.Experience"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="level">
                {{data.attributes.hd.total}}
              </td>
              {{#if data.details.mythicTier}}
              <td class="tier">
                {{data.details.mythicTier}}
              </td>
              {{/if}}
              <td>
                <span class="text-box cr-input" name="data.details.cr.base">{{labels.cr}}</span>
              </td>
              <td class="experience">
                {{data.details.xp.value}}
              </td>
            </tr>
          </tbody>
        </table>

        <span class="tooltipcontent">
          @attributes.hd.total : {{data.attributes.hd.total}}<br/>
          @details.cr.base : {{data.details.cr.base}}<br/>
          @details.cr.total : {{data.details.cr.total}}
          {{#if data.details.mythicTier}}
          <br />
          @details.mythicTier : {{data.details.mythicTier}}
          {{/if}}
        </span>
      </div>
      {{/if}}
    </div>

    {{!-- Character Summary --}}
    <div class="character-summary flexrow">
      <div>
        <input type="text" name="data.details.gender" value="{{data.details.gender}}" placeholder="{{localize "PF1.Gender"}}" title="{{localize "PF1.Gender"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.deity" value="{{data.details.deity}}" placeholder="{{localize "PF1.Deity"}}" title="{{localize "PF1.Deity"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.age" value="{{data.details.age}}" placeholder="{{localize "PF1.Age"}}" title="{{localize "PF1.Age"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.height" value="{{data.details.height}}" placeholder="{{localize "PF1.Height"}}" title="{{localize "PF1.Height"}}"/>
      </div>
      <div>
        <input type="text" name="data.details.weight" value="{{data.details.weight}}" placeholder="{{localize "PF1.Weight"}}" title="{{localize "PF1.Weight"}}"/>
      </div>

      {{!-- Alignment --}}
      <div class="controls alignment flexrow" title="{{localize "PF1.Alignment"}}">
        {{#if labels.alignment}}<span>{{labels.alignment}}</span>{{else}}<span class="placeholder">{{localize "PF1.Alignment"}}</span>{{/if}}
        <a class="control alignment"><i class="fas fa-cog"></i></a>
      </div>
    </div>

    <div class="flexrow">
      <div class="race-container item flexrow" {{#if race}}data-item-id="{{race._id}}"{{/if}} title="{{localize "PF1.Race"}}">
        <div class="race item-image rollable" style="background-image: url({{race.img}})" title="{{labels.race}}">
          {{#unless race}}{{localize "PF1.Race"}}{{/unless}}
        </div>

        <div class="item-controls flexcol">
          {{#if owner}}
          {{#unless race}}
          <a class="item-control add" title="{{localize "PF1.CreateItem"}}"><i class="fas fa-plus"></i></a>
          <a data-action="compendium" data-action-target="races" title="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
          {{/unless}}
          {{#if race}}
          <a class="item-control edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
          <a class="item-control delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          {{/if}}
          {{/if}}
        </div>

        {{#if race}}
        <div class="race-info">
          <span class="tag type3">{{lookup config.creatureTypes race.data.creatureType}}</span>
          {{#each race.data.subTypes as |v|}}
          <span class="tag">{{v}}</span>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="flexrow item-list misc-header-items">

  {{!-- Rest --}}
  <div class="actor-quick-actions">
    <button type="button" class="rest"><i class="fas fa-bed"></i> {{localize "PF1.Rest"}}</button>
  </div>
</div>

{{!-- Header Attributes --}}
<ul class="attributes flexrow">
  <li>
    {{#unless useWoundsAndVigor}}
    <table class="health-table">
      <thead class="tooltip">
        <tr>
          <th colspan="4">
            <div class="tooltipcontent">
              @attributes.hp.value : {{data.attributes.hp.value}}<br/>
              @attributes.hp.max : {{data.attributes.hp.max}}<br/>
              @attributes.hp.temp : {{data.attributes.hp.temp}}<br/>
              @attributes.hp.nonlethal : {{data.attributes.hp.nonlethal}}

              {{#if sourceDetails.data.attributes.hp.max.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.hp.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
              {{/if}}
            </div>

            {{localize "PF1.HitPoints"}}
          </th>
        </tr>

        <tr>
          <th>{{localize "PF1.Current"}}</th>
          <th>{{localize "PF1.Maximum"}}</th>
          <th>{{localize "PF1.TempShort"}}</th>
          <th>{{localize "PF1.Nonlethal"}}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <span class="text-box direct wheel-change allow-relative hp-current-input" name="data.attributes.hp.value" data-dtype="Number">{{data.attributes.hp.value}}</span>
          </td>
          <td>
            <span class="text-box readonly hp-max">{{data.attributes.hp.max}}</span>
          </td>
          <td>
            <span class="text-box direct allow-relative hp-temp-input" name="data.attributes.hp.temp" data-dtype="Number">{{#if data.attributes.hp.temp}}{{data.attributes.hp.temp}}{{/if}}</span>
          </td>
          <td>
            <span class="text-box direct allow-relative hp-nonlethal-input" name="data.attributes.hp.nonlethal" data-dtype="Number">{{#if data.attributes.hp.nonlethal}}{{data.attributes.hp.nonlethal}}{{/if}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    {{else}}
    <table class="health-table wounds-vigor">
      <thead>
        <tr>
          <th class="tooltip" colspan="3">
            <div class="tooltipcontent">
              @attributes.vigor.min : {{data.attributes.vigor.min}}<br/>
              @attributes.vigor.value : {{data.attributes.vigor.value}}<br/>
              @attributes.vigor.max : {{data.attributes.vigor.max}}<br/>
              @attributes.vigor.temp : {{data.attributes.vigor.temp}}

              {{#if sourceDetails.data.attributes.vigor.max.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.vigor.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
              {{/if}}
            </div>

            {{localize "PF1.Vigor"}}
          </th>

          <th class="tooltip" colspan="2">
            <div class="tooltipcontent">
              @attributes.wounds.min : {{data.attributes.wounds.min}}<br/>
              @attributes.wounds.value : {{data.attributes.wounds.value}}<br/>
              @attributes.wounds.max : {{data.attributes.wounds.max}}<br/>

              {{#if sourceDetails.data.attributes.wounds.max.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.wounds.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
              {{/if}}
            </div>

            {{localize "PF1.Wounds"}}
          </th>
        </tr>

        <tr>
          <th>{{localize "PF1.Current"}}</th>
          <th>{{localize "PF1.Maximum"}}</th>
          <th>{{localize "PF1.TempShort"}}</th>
          <th>{{localize "PF1.Current"}}</th>
          <th>{{localize "PF1.Maximum"}}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <span class="text-box direct allow-relative vigor-current-input" name="data.attributes.vigor.value" data-dtype="Number">
              {{data.attributes.vigor.value}}
            </span>
          </td>
          <td>
            <span class="text-box readonly">{{data.attributes.vigor.max}}</span>
          </td>
          <td>
            <span class="text-box direct allow-relative vigor-temp-input" name="data.attributes.vigor.temp" data-dtype="Number">
              {{#if data.attributes.vigor.temp}}{{data.attributes.vigor.temp}}{{/if}}
            </span>
          </td>
          <td>
            <span class="text-box direct allow-relative wounds-current-input" name="data.attributes.wounds.value" data-dtype="Number">
              {{data.attributes.wounds.value}}
            </span>
          </td>
          <td>
            <span class="text-box readonly">{{data.attributes.wounds.max}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    {{/unless}}
  </li>

  <li>
    <table class="speed-table">
      <thead>
        <tr>
          <th colspan="5">{{localize "PF1.Speed"}}</th>
          <th rowspan="2">{{localize "PF1.FlyManeuverabilityShort"}}</th>
        </tr>
        <tr>
          <th>{{localize "PF1.SpeedLand_Short"}}</th>
          <th>{{localize "PF1.SpeedClimb_Short"}}</th>
          <th>{{localize "PF1.SpeedSwim_Short"}}</th>
          <th>{{localize "PF1.SpeedBurrow_Short"}}</th>
          <th>{{localize "PF1.SpeedFly_Short"}}</th>
        </tr>
      </thead>

      <tbody>
        <td class="tooltip">
          <span class="text-box direct speed" name="data.attributes.speed.land.base" data-dtype="Number">
            {{#if data.attributes.speed.land.total}}{{convertDistance data.attributes.speed.land.total}}{{/if}}
          </span>

          <div class="tooltipcontent">
            @attributes.speed.land.total : {{convertDistance data.attributes.speed.land.total}}
            {{#if sourceDetails.data.attributes.speed.land.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.speed.land.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
          </div>
        </td>
        <td class="tooltip">
          <span class="text-box direct speed" name="data.attributes.speed.climb.base" data-dtype="Number">
            {{#if data.attributes.speed.climb.total}}{{convertDistance data.attributes.speed.climb.total}}{{/if}}
          </span>

          <div class="tooltipcontent">
            @attributes.speed.climb.total : {{convertDistance data.attributes.speed.climb.total}}
            {{#if sourceDetails.data.attributes.speed.climb.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.speed.climb.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
          </div>
        </td>
        <td class="tooltip">
          <span class="text-box direct speed" name="data.attributes.speed.swim.base" data-dtype="Number">
            {{#if data.attributes.speed.swim.total}}{{convertDistance data.attributes.speed.swim.total}}{{/if}}
          </span>

          <div class="tooltipcontent">
            @attributes.speed.swim.total : {{convertDistance data.attributes.speed.swim.total}}
            {{#if sourceDetails.data.attributes.speed.swim.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.speed.swim.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
          </div>
        </td>
        <td class="tooltip">
          <span class="text-box direct speed" name="data.attributes.speed.burrow.base" data-dtype="Number">
            {{#if data.attributes.speed.burrow.total}}{{convertDistance data.attributes.speed.burrow.total}}{{/if}}
          </span>

          <div class="tooltipcontent">
            @attributes.speed.burrow.total : {{convertDistance data.attributes.speed.burrow.total}}
            {{#if sourceDetails.data.attributes.speed.burrow.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.speed.burrow.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
          </div>
        </td>
        <td class="tooltip">
          <span class="text-box direct speed" name="data.attributes.speed.fly.base" data-dtype="Number">
            {{#if data.attributes.speed.fly.total}}{{convertDistance data.attributes.speed.fly.total}}{{/if}}
          </span>

          <div class="tooltipcontent">
            @attributes.speed.fly.total : {{data.attributes.speed.fly.total}}<br/>
            @attributes.speed.fly.maneuverability : "{{data.attributes.speed.fly.maneuverability}}"
            {{#if sourceDetails.data.attributes.speed.fly.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.speed.fly.total as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
          </div>
        </td>
        <td>
          <select name="data.attributes.speed.fly.maneuverability">
            {{#select data.attributes.speed.fly.maneuverability}}
            {{#each config.flyManeuverabilities as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </td>
      </tbody>
    </table>
  </li>
</ul>

{{!-- Footer Navigation --}}
<nav class="sheet-navigation tabs subtabs subdetails" data-group="subdetails">
  <a class="item active" data-tab="quick-info">{{localize "PF1.QuickInfo"}}</a>
  <a class="item" data-tab="classes">{{localize "PF1.ClassPlural"}}</a>
</nav>

<section class="subdetails-body">
  <div class="tab quick-info" data-group="subdetails" data-tab="quick-info">
    <div class="flexcol">
      {{!-- Roll Defenses --}}
      <li class="generic-defenses flexrow" data-drag="defenses">
        <div class="rollable image-d20"></div>
        <label><h3>{{localize "PF1.Defenses"}}</h3></label>
      </li>

      {{> "systems/pf1/templates/actors/parts/actor-defenses_tables.hbs"}}

      <table>
        <thead>
          <tr>
            <th class="attribute bab" data-attribute="bab">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.BABAbbr"}}</span></a>
            </th>
            <th class="attribute cmb" data-attribute="cmb">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.CMBAbbr"}}</span></a>
            </th>
            <th class="attribute initiative" data-attribute="initiative">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Initiative"}}</span></a>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="tooltip bab">
              <span class="tooltipcontent">
                @attributes.bab.total : {{data.attributes.bab.total}}
                {{#if sourceDetails.data.attributes.bab.total.length}}
                <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                {{#each sourceDetails.data.attributes.bab.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </span>

              {{data.attributes.bab.total}}
            </td>

            <td class="tooltip cmb">
              {{> "systems/pf1/templates/actors/parts/actor-cmb.hbs"}}
            </td>

            <td class="tooltip initiative">
              <span class="tooltipcontent">
                @attributes.init.total : {{data.attributes.init.total}}
                {{#if sourceDetails.data.attributes.init.total.length}}
                  <br/><br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each sourceDetails.data.attributes.init.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </span>
              {{data.attributes.init.total}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    {{!-- Quick Actions --}}
    <h2>{{localize "PF1.QuickActions"}}</h2>

    <ol class="quick-actions">
      {{#each quickActions as |i|}}
      <li class="item" data-item-id="{{i.item.id}}" data-type="{{i.item.type}}" style="border-color: {{i.color1}};" title="{{i.item.name}}">
        <img src="{{i.item.img}}">
        <span class="icon-label">{{i.item.name}}</span>
        {{#if i.haveAnyCharges}}
        <charges>
          {{#if i.recharging}}
          <span class="recharge">+{{i.charges}}</span>
          {{else}}
          <span class="remaining">{{i.charges}}</span>
          {{#if i.maxCharge}}
          <span class="delimiter">/</span>
          <span class="max">{{i.maxCharge}}</span>
          {{/if}}
          {{/if}}
        </charges>
        {{/if}}
      </li>
      {{/each}}
    </ol>
  </div>

  {{!-- Classes --}}
  <div class="tab classes-body" data-group="subdetails" data-tab="classes">
    <div class="inventory-list flexcol">
      <div class="inventory-header flexrow">
        <h3 class="item-name flexrow"></h3>

        <div class="item-detail item-feat-level"><span>{{localize "PF1.Level"}}</span></div>

        {{#if levelUp}}
          <div class="item-detail item-button"><span>{{localize "PF1.Action"}}</span></div>
        {{/if}}

        {{#if owner}}
        <div class="item-controls">
          <a class="item-control item-create" title="Create Item" data-type="class">
            <i class="fas fa-plus"></i>
          </a>
          <a data-action="compendium" data-action-target="classes" title="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
        </div>
        {{/if}}
      </div>

      {{#if classes.length}}
      <ol class="item-list">
        {{#each classes as |item iid|}}
        <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <h4>{{item.name}}</h4>
          </div>

          <div class="item-detail item-feat-level tooltip">
            <span>{{localize "PF1.Level"}} {{item.data.level}}</span>
            <span class="tooltipcontent">@classes.{{item.data.tag}}.level : {{item.data.level}}</span>
          </div>

          {{#if ../levelUp}}
            <div class="item-detail item-button">
            {{#if item.canLevelUp}}
              <button type="button" class="level-up" data-item-id="{{item._id}}">{{localize "PF1.LevelUp.Label"}}</button>
            {{/if}}
            </div>
          {{/if}}

          {{#if ../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
      {{else}}
      <div class="flexcol info">
        <span>
          {{{labels.firstClass}}}
        </span>
      </div>
      {{/if}}
    </div>
  </div>
</section>
